include dash_echarts/dash_echarts.min.js
include dash_echarts/dash_echarts.min.js.map
include dash_echarts/metadata.json
include dash_echarts/package-info.json
include dash_echarts/examples/china.json
include dash_echarts/examples/life-expectancy-table.json
include README.md
include LICENSE
include package.json
